:root {
  /* primary */
  --clr-primary-100: hsl(25, 97%, 53%);
  /* neutral */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(217, 12%, 63%);
  --clr-neutral-300: hsl(216, 12%, 54%);
  --clr-neutral-400: hsl(213, 19%, 18%);
  --clr-neutral-500: hsl(216, 12%, 8%);
}
body {
  font-family: "Overpass", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--clr-neutral-500);
}
.second-container {
  background-color: var(--clr-neutral-400);
  width: 27%;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  left: 35%;
  top: 30%;
}

.span-one span {
  padding-top: 5px 5px;
  margin-top: 5px;
}
h2 {
  color: white;
  font-size: 30px;
}
p {
  font-size: 15px;
  line-height: 25px;
  color: var(--clr-neutral-300);
}
span {
  width: 40%;
  background-color: hsl(213, 18%, 26%);
  border-radius: 40px;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  color: var(--clr-primary-100);
  font-size: 15px;
}
